//Paths to folders
$font-folder: "../../assets/fonts/";
$img-folder: "../../assets/img/";

//Colors
$light-text-accent-color: #fefeff;
$form-borders-color: #1f353e;
//text colors
$light-text-color: #fbfdfe;
$dark-heading-color1: #131313;

$white-color: #fff;
$dark-color: #071f29;
$bullet-borderradius-color: #ff0000;

$dark-heading-color: #131313;
$dark-text-main-color: #292929;
$dark-heading-color: #000001;
$dark-text-accent-color: #2c2c2c;

$placeholder-form-color: #424243;
$placeholder-footer-color: #585858;

$accent-bg-color: #ca0022;
//button bg colors

$line-color: #9ca5a9;
