* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  position: relative;
  height: 100%;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  background-color: $light-text-accent-color;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
